@mixin pc {
  @media (max-width:($pc)) {
    @content;
  }
}

@mixin tab {
  @media (max-width:(776px)) {
    @content;
  }
}

@mixin sp {
  @media (max-width:(576px)) {
    @content;
  }
}

/////////ハンバーガーメニュー/////////
@mixin ham {

  .ham {
    position: relative;
    width: 30px;
    height: 25px;
    margin-left: 25px;
    cursor: pointer;
  }

  .ham_line {
    position: absolute;
    left: 10px;
    width: 25px;
    height: 0.5px;
    background-color: #333333;
  }

  .ham_line1 {
    top: 5px;
  }

  .ham_line2 {
    top: 12px;
    transition: all 0.5s;
  }

  &:hover .ham_line2 {
    transform: translateX(-10px);
  }

  .ham_line3 {
    top: 19px;
    height: 1px;
  }
}

@mixin store {
  article {
    margin: 0 10px;

    &:hover {
      opacity: 0.8;
    }

    .store-image-wrap {
      margin-bottom: 10px;

      img {
        width: 100%;
        height: auto;
        object-fit: cover;
      }
    }

    .top-store-text {
      display: flex;
      font-size: 14px;
      margin-bottom: 10px;
      padding: 5px;

      .top-store-text-item1 {
        width: 30%;

      }

      .top-store-text-item2 {
        width: 65%;

      }
    }
  }


}

@mixin pager {

  .pager .pagination {
    text-align: center;
    margin: 64px 0;

    @include sp {
      margin: 24px;
    }
  }

  .pager .pagination li {
    display: inline;
    margin: 0 2px;
    padding: 0;
    display: inline-block;
    width: 40px;
    height: 40px;
    text-align: center;
    position: relative;
    border-radius: 10px;
  }


  .pager .pagination li a {
    vertical-align: middle;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    display: table;
    text-decoration: none;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }

  .pager .pagination li a span {
    display: table-cell;
    vertical-align: middle;
  }

  .pager .pagination li a:hover,
  .pager .pagination li a.active {
    color: #fff;
    background: #a1a1a1;
  }

  @media only screen and (max-width: 767px) {
    .pager .pagination li {
      display: none;
    }

    .pager .pagination li.pre,
    .pager .pagination li.next {
      display: inline-block;
      width: 40%;
      height: 50px;
      text-align: center;
    }

    .pager .pagination li.pre a,
    .pager .pagination li.next a {
      width: 100%;
      text-align: center;
    }

    .pager .pagination li.pre span::after {
      content: "　前の10件へ";
    }

    .pager .pagination li.next span::before {
      content: "次の10件へ　";
    }

  }
}

@mixin style{
////////投稿時のスタイル設定///////
h1,h2,h3 {
  font-size: 24px;
  margin: 24px 0 48px 16px;
  border-bottom: solid 3px #dddddd;
  position: relative;
  
  &:after {
    position: absolute;
    content: " ";
    display: block;
    border-bottom: solid 3px #8a8a8a;
    bottom: -3px;
    width: 100px;
  }  

}

p {
  margin-bottom: 16px;
}

th,
td {
  border: solid 1px;
  border: solid 1px;
  padding: 8px;
  margin-bottom: 16px;

}

table {
  border-collapse: collapse;
  /* セルの線を重ねる */
}

li {
  margin: 0 0 0 25px;
}

ol,
ul {
  margin-bottom: 16px;

}

time {
  font-size: 12px;
  color: #ccc;
}


}