.sub-visual {
  position: relative;
}

.sub-visual .sub-visual-image {
  width: 100Vw;
  padding: 8px;
}

.sub-visual .sub-visual-image img {
  width: 100%;
  max-height: 280px;
  min-height: 160px;
  -o-object-fit: cover;
     object-fit: cover;
}

.sub-visual h2 {
  color: #292929;
  position: absolute;
  width: 100%;
  top: 40%;
  left: 10%;
  font-size: 32px;
  text-shadow: -1px 1px 0 white;
}

.sub-main .sub-main-inner {
  width: 100%;
  max-width: 1160px;
  margin: 96px auto;
  padding: 16px;
}

.page-about-text {
  margin-bottom: 48px;
}

.page-about-image-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 48px;
}

@media (max-width: 776px) {
  .page-about-image-wrap {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.page-about-image-wrap .page-about-image {
  width: 25%;
  padding: 0 16px;
}

@media (max-width: 776px) {
  .page-about-image-wrap .page-about-image {
    width: 50%;
  }
}

.page-about-image-wrap .page-about-image img {
  width: 100%;
  -webkit-box-shadow: rgba(99, 99, 99, 0.4) 0px 2px 8px 0px;
          box-shadow: rgba(99, 99, 99, 0.4) 0px 2px 8px 0px;
}

.about-link {
  width: 200px;
  height: 64px;
  margin: 0 auto;
}

.about-link a {
  color: black;
  border: 1px solid black;
  font-size: 14px;
  display: block;
  width: 100%;
  height: 100%;
  text-align: center;
  line-height: 64px;
}

.about-link a:hover {
  color: white;
  border: none;
  background-color: rgba(134, 134, 134, 0.836);
}

.page-menu .page-menu-inner {
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
}

.page-menu .page-menu-inner h2 {
  font-size: 28px;
  font-weight: normal;
  margin: 48px 16px 72px;
  border-left: 4px solid #727272;
  padding: 0 16px;
}

.page-menu .page-menu-inner h3 {
  font-size: 18px;
  font-weight: normal;
  margin: 48px 48px 32px 48px;
  border-bottom: solid 3px #dddddd;
  position: relative;
}

.page-menu .page-menu-inner h3:after {
  position: absolute;
  content: " ";
  display: block;
  border-bottom: solid 3px #8a8a8a;
  bottom: -3px;
  width: 100px;
}

.page-menu .page-menu-inner .page-menu-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 776px) {
  .page-menu .page-menu-inner .page-menu-items {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.page-menu .page-menu-inner .page-menu-items .page-menu-item {
  width: 33%;
  margin: 16px;
  position: relative;
}

@media (max-width: 776px) {
  .page-menu .page-menu-inner .page-menu-items .page-menu-item {
    width: 100%;
    padding: 0 16px;
  }
}

.page-menu .page-menu-inner .page-menu-items .page-menu-item .page-menu-image {
  width: 100%;
}

.page-menu .page-menu-inner .page-menu-items .page-menu-item .page-menu-image img {
  width: 100%;
}

.page-menu .page-menu-inner .page-menu-items .page-menu-item .page-menu-text {
  position: absolute;
  bottom: 30%;
  left: 50%;
  -webkit-transform: translate(-50%, 50%);
          transform: translate(-50%, 50%);
  background-color: rgba(248, 247, 247, 0.6);
  width: 100%;
  max-height: 150px;
  font-size: 14px;
}

.page-menu .page-menu-inner .page-menu-items .page-menu-item .page-menu-text h4 {
  font-size: 18px;
}

.page-404-main {
  text-align: center;
  font-size: 20px;
}

.contact {
  height: 700px;
}

.home-main .home-main-inner {
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
}

@media (max-width: 776px) {
  .home-main .home-main-inner {
    padding: 0 10px;
  }
}

.home-main .home-main-inner article {
  margin: 0 10px;
}

.home-main .home-main-inner article:hover {
  opacity: 0.8;
}

.home-main .home-main-inner article .store-image-wrap {
  margin-bottom: 10px;
}

.home-main .home-main-inner article .store-image-wrap img {
  width: 100%;
  height: auto;
}

.home-main .home-main-inner article .top-store-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 14px;
  margin-bottom: 10px;
  padding: 5px;
}

.home-main .home-main-inner article .top-store-text .top-store-text-item1 {
  width: 30%;
}

.home-main .home-main-inner article .top-store-text .top-store-text-item2 {
  width: 65%;
}

.home-main .home-main-inner .home-main-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 150px 0 50px 0;
}

@media (max-width: 776px) {
  .home-main .home-main-inner .home-main-title {
    margin: 50px 0 50px 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
  }
}

.home-main .home-main-inner .home-main-title h3 {
  font-size: 20px;
}

@media (max-width: 776px) {
  .home-main .home-main-inner .home-main-title h3 {
    margin-bottom: 10px;
  }
}

.home-main .home-main-inner .home-main-title .home-menu-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 576px) {
  .home-main .home-main-inner .home-main-title .home-menu-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.home-main .home-main-inner .home-main-title .home-menu-wrap .home-category-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 576px) {
  .home-main .home-main-inner .home-main-title .home-menu-wrap .home-category-menu {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.home-main .home-main-inner .home-main-title .home-menu-wrap .home-category-menu select {
  margin-left: 15px;
  font-size: 16px;
}

.home-main .home-main-inner .home-main-title .home-menu-wrap .home-archive-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 30px;
}

@media (max-width: 576px) {
  .home-main .home-main-inner .home-main-title .home-menu-wrap .home-archive-menu {
    margin: 10px 0;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.home-main .home-main-inner .home-main-title .home-menu-wrap .home-archive-menu select {
  margin-left: 15px;
  font-size: 16px;
}

.home-main .home-main-inner .home-article-warap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.home-main .home-main-inner .home-article-warap article {
  margin: 10px 10px 50px;
  width: 22%;
}

@media (max-width: 776px) {
  .home-main .home-main-inner .home-article-warap article {
    width: 46%;
  }
}

@media (max-width: 576px) {
  .home-main .home-main-inner .home-article-warap article {
    width: 98%;
  }
}

.home-main .home-main-inner .home-article-warap article:hover {
  opacity: 0.8;
}

.home-main .home-main-inner .home-article-warap article .notice-image-wrap {
  margin-bottom: 10px;
}

.home-main .home-main-inner .home-article-warap article .notice-image-wrap img {
  width: 100%;
  height: auto;
}

.home-main .home-main-inner .home-article-warap article time {
  font-size: 14px;
  margin-bottom: 10px;
}

.home-main .home-main-inner .home-article-warap article h3 {
  margin-bottom: 10px;
}

.home-main .home-main-inner .home-article-warap article .top-notice-link {
  display: inline-block;
  border: 1px solid darkgrey;
  line-height: 35px;
  border-radius: 18px;
  width: 80px;
  text-align: center;
}

.home-main .home-main-inner .home-article-warap article .top-notice-link a {
  display: inline-block;
  color: darkgrey;
}

.archive-store .archive-store-inner {
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
}

@media (max-width: 776px) {
  .archive-store .archive-store-inner {
    padding: 0 10px;
  }
}

.archive-store .archive-store-inner .archive-store-title {
  font-size: 25px;
  margin: 30px 0 20px;
}

.archive-store .archive-store-inner .archive-store-article-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 50px;
}

.archive-store .archive-store-inner .archive-store-article-wrap article {
  margin: 0 10px;
}

.archive-store .archive-store-inner .archive-store-article-wrap article:hover {
  opacity: 0.8;
}

.archive-store .archive-store-inner .archive-store-article-wrap article .store-image-wrap {
  margin-bottom: 10px;
}

.archive-store .archive-store-inner .archive-store-article-wrap article .store-image-wrap img {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

.archive-store .archive-store-inner .archive-store-article-wrap article .top-store-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 14px;
  margin-bottom: 10px;
  padding: 5px;
}

.archive-store .archive-store-inner .archive-store-article-wrap article .top-store-text .top-store-text-item1 {
  width: 30%;
}

.archive-store .archive-store-inner .archive-store-article-wrap article .top-store-text .top-store-text-item2 {
  width: 65%;
}

.archive-store .archive-store-inner .archive-store-article-wrap .archive-store-article {
  width: 23%;
  margin-bottom: 30px;
}

@media (max-width: 776px) {
  .archive-store .archive-store-inner .archive-store-article-wrap .archive-store-article {
    width: 47%;
  }
}

@media (max-width: 576px) {
  .archive-store .archive-store-inner .archive-store-article-wrap .archive-store-article {
    width: 98%;
  }
}

.archive-store .archive-store-inner {
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
}

@media (max-width: 776px) {
  .archive-store .archive-store-inner {
    padding: 0 10px;
  }
}

.archive-store .archive-store-inner h3 {
  font-size: 24px;
  margin: 50px 0 20px 10px;
}

.archive-store .archive-store-inner .archive-store-contents {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 776px) {
  .archive-store .archive-store-inner .archive-store-contents {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.archive-store .archive-store-inner .archive-store-contents .archive-store-image {
  width: 50%;
}

@media (max-width: 776px) {
  .archive-store .archive-store-inner .archive-store-contents .archive-store-image {
    width: 100%;
  }
}

.archive-store .archive-store-inner .archive-store-contents .archive-store-image img {
  width: 100%;
  padding: 10px;
}

.archive-store .archive-store-inner .archive-store-contents .archive-store-text {
  width: 45%;
  padding: 80px 60px;
}

@media (max-width: 776px) {
  .archive-store .archive-store-inner .archive-store-contents .archive-store-text {
    width: 100%;
  }
}

.archive-store .archive-store-inner .archive-store-contents .archive-store-text .archive-store-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.archive-store .archive-store-inner .archive-store-contents .archive-store-text .archive-store-item p {
  margin-bottom: 10px;
}

.archive-store .archive-store-inner .archive-store-contents .archive-store-text .archive-store-item p:first-of-type {
  color: #999;
  width: 40%;
}

.archive-store .archive-store-inner .archive-store-link {
  display: block;
  text-align: right;
  margin: 50px;
}

@media (max-width: 776px) {
  .archive-store .archive-store-inner .archive-store-link {
    margin: 0 30px 30px;
  }
}

.archive-store .archive-store-inner .archive-store-link:hover {
  opacity: 0.7;
}

.single .single-inner {
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
}

@media (max-width: 776px) {
  .single .single-inner {
    padding: 0 20px;
  }
}

.single .single-inner time {
  color: #999;
  margin: 50px 0 20px;
  display: inline-block;
}

.single .single-inner h3 {
  font-size: 24px;
  margin-bottom: 20px;
}

.single .single-inner p {
  margin-bottom: 70px;
}

.single .single-inner .single-link {
  text-align: right;
  margin: 0 50px 50px 0;
}

@media (max-width: 776px) {
  .single .single-inner .single-link {
    text-align: center;
    margin: 0 50px 30px;
  }
}

.single .single-inner .single-link a {
  border: 1px solid black;
  display: inline-block;
  padding: 15px 20px;
}

.footer-sns a {
  display: inline-block;
  height: 28px;
  width: 28px;
}

.footer-sns a:nth-of-type(2) {
  display: inline-block;
  margin: 0 15px;
}

.footer-sns a img {
  width: 100%;
  height: 100%;
}

.footer-sns a i {
  font-size: 30px;
}
/*# sourceMappingURL=style2.css.map */