@charset "UTF-8";
* {
  word-break: break-word;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body,
select {
  font-family: \\6E38\660E\671D, Yu Mincho, serif;
  line-height: 2;
}

a {
  color: black;
}

li {
  list-style: none;
}

.hade-in {
  opacity: 0;
}

.hade-in.active {
  opacity: 1;
  -webkit-transition: ease 2s;
  transition: ease 2s;
}

.slick-prev:before,
.slick-next:before {
  color: #cccbcb;
}

.header-top {
  position: fixed;
  top: 0;
  z-index: 5;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 48px;
  padding: 0 32px 0 24px;
  font-size: 14px;
  background-color: #fff;
  -webkit-box-shadow: 0px 8px 3px -5px rgba(231, 231, 231, 0.507);
          box-shadow: 0px 8px 3px -5px rgba(231, 231, 231, 0.507);
  visibility: hidden;
  -webkit-transform: translateY(-50px);
          transform: translateY(-50px);
  -webkit-transition: ease 0.5s;
  transition: ease 0.5s;
}

.header-top.fixed {
  visibility: visible;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition: ease 0.5s;
  transition: ease 0.5s;
}

.header-top h1 {
  max-width: 32px;
  height: 32px;
}

.header-top h1 img {
  width: 100%;
  height: auto;
}

.header-top .header-top-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-top .header-top-right .ham {
  position: relative;
  width: 30px;
  height: 25px;
  margin-left: 25px;
  cursor: pointer;
}

.header-top .header-top-right .ham_line {
  position: absolute;
  left: 10px;
  width: 25px;
  height: 0.5px;
  background-color: #333333;
}

.header-top .header-top-right .ham_line1 {
  top: 5px;
}

.header-top .header-top-right .ham_line2 {
  top: 12px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.header-top .header-top-right:hover .ham_line2 {
  -webkit-transform: translateX(-10px);
          transform: translateX(-10px);
}

.header-top .header-top-right .ham_line3 {
  top: 19px;
  height: 1px;
}

.sub-page {
  visibility: visible;
  position: relative;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.header-side {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.836);
  width: 580px;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  visibility: hidden;
  -webkit-transform: translateX(580px);
          transform: translateX(580px);
}

.header-side.show {
  visibility: visible;
  -webkit-transform: translateX(0px);
          transform: translateX(0px);
  -webkit-transition: ease 1s;
  transition: ease 1s;
}

.header-side.hide {
  visibility: hidden;
  -webkit-transform: translateX(580px);
          transform: translateX(580px);
  -webkit-transition: ease 1s;
  transition: ease 1s;
}

@media (max-width: 576px) {
  .header-side {
    width: 100vw;
  }
}

.header-side .header-side-inner {
  position: relative;
  width: 80%;
  margin: 96px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-side .header-side-inner .header-image {
  max-width: 100px;
  margin: 0 72px 0 63px;
}

.header-side .header-side-inner .header-image img {
  width: 100%;
  height: auto;
}

.header-side .header-side-inner .header-navi li {
  list-style: none;
}

.header-side .header-side-inner .header-navi li a {
  display: block;
  color: #fff;
  margin-bottom: 15px;
}

.header-side .header-side-inner .header-navi li a:after {
  border-bottom: solid 0.5px white;
  bottom: 0;
  content: "";
  display: block;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  width: 0;
}

.header-side .header-side-inner .header-navi li a:hover::after {
  width: 100%;
}

.header-side .close-button {
  position: absolute;
  top: 5px;
  right: 5px;
  display: inline-block;
  width: 40px;
  height: 40px;
  position: relative;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.header-side .close-button span::before, .header-side .close-button span::after {
  display: block;
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 84%;
  height: 1px;
  margin: -8% 0 0 -42%;
  background: #fff;
}

.header-side .close-button span::before {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.header-side .close-button span::after {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.sub-page {
  position: relative;
}

.top-visual .main-visial .main-visial-slider .slick-slide img {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-transition: 1s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: 1s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.top-visual .main-visial .main-visial-slider .slick-current img {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.top-visual .main-visial .main-visial-slider img {
  width: 100%;
  height: 88vh;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-filter: saturate(200%);
          filter: saturate(200%);
}

.top-visual .main-visial .main-visial-slider img .slick-slide img {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-transition: 1s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: 1s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.top-visual .main-visial .main-visial-slider img .slick-current img {
  -webkit-transform: scale(1);
          transform: scale(1);
}

@media (max-width: 576px) {
  .top-visual .main-visial .main-visial-slider img {
    height: 480px;
  }
}

.top-visual .main-visial .main-visual-logo {
  position: absolute;
  top: 40%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  max-width: 150px;
  height: auto;
}

.top-visual .main-visial .main-visual-logo img {
  width: 100%;
}

.top-visual .top-pickup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 70px;
  padding: 0 20px;
  font-size: 14px;
  background-color: #fff;
}

.top-visual .top-pickup .top-pickup-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 16px;
}

@media (max-width: 776px) {
  .top-visual .top-pickup .top-pickup-left {
    display: initial;
  }
}

.top-visual .top-pickup .top-pickup-left p {
  margin-left: 20px;
}

@media (max-width: 776px) {
  .top-visual .top-pickup .top-pickup-left p {
    margin-left: 0;
  }
}

.top-visual .top-pickup .top-pickup-left p a:after {
  border-bottom: solid 0.5px #070707;
  bottom: 0;
  content: "";
  display: block;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  width: 0;
}

.top-visual .top-pickup .top-pickup-left p a:hover::after {
  width: 100%;
}

.top-visual .top-pickup .top-pickup-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 776px) {
  .top-visual .top-pickup .top-pickup-right p {
    display: none;
  }
}

.top-visual .top-pickup .top-pickup-right .ham {
  position: relative;
  width: 30px;
  height: 25px;
  margin-left: 25px;
  cursor: pointer;
}

.top-visual .top-pickup .top-pickup-right .ham_line {
  position: absolute;
  left: 10px;
  width: 25px;
  height: 0.5px;
  background-color: #333333;
}

.top-visual .top-pickup .top-pickup-right .ham_line1 {
  top: 5px;
}

.top-visual .top-pickup .top-pickup-right .ham_line2 {
  top: 12px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.top-visual .top-pickup .top-pickup-right:hover .ham_line2 {
  -webkit-transform: translateX(-10px);
          transform: translateX(-10px);
}

.top-visual .top-pickup .top-pickup-right .ham_line3 {
  top: 19px;
  height: 1px;
}

@media (max-width: 776px) {
  .top-visual .top-pickup .top-pickup-right .ham {
    margin: 0;
  }
}

.top-about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 496px;
  margin-bottom: 144px;
}

@media (max-width: 776px) {
  .top-about {
    margin-bottom: 48px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: auto;
  }
}

.top-about .top-about-left {
  position: relative;
  width: 42%;
  background: rgba(0, 0, 0, 0.1);
  background-image: url(../image/takahiro-taguchi-mZ2D_re0iLA-unsplash.jpg);
  background-size: cover;
  position: relative;
  opacity: 0;
  -webkit-transform: translateX(-500px);
          transform: translateX(-500px);
}

.top-about .top-about-left:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: inherit;
  -webkit-filter: brightness(30%);
          filter: brightness(30%);
  /* 最背面へ */
  z-index: -1;
}

.top-about .top-about-left.active {
  opacity: 1;
  -webkit-transform: translateX(0px);
          transform: translateX(0px);
  -webkit-transition: ease 1s;
  transition: ease 1s;
}

@media (max-width: 776px) {
  .top-about .top-about-left {
    width: 100%;
    min-height: 392px;
  }
}

.top-about .top-about-left .top-about-image {
  width: 120px;
  height: auto;
  position: absolute;
  top: 35%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.top-about .top-about-left .top-about-image img {
  width: 100%;
  height: auto;
}

.top-about .top-about-left .top-about-link {
  position: absolute;
  top: 80%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: inline-block;
  width: 200px;
  height: 64px;
}

@media (max-width: 776px) {
  .top-about .top-about-left .top-about-link {
    display: none;
  }
}

.top-about .top-about-left .top-about-link a {
  color: #fff;
  font-size: 16px;
  display: block;
  border: 1px solid #fff;
  width: 100%;
  height: 100%;
  text-align: center;
  line-height: 64px;
}

.top-about .top-about-left .top-about-link a:hover {
  background-color: rgba(238, 238, 238, 0.8);
  color: black;
  border: none;
}

.top-about .top-about-right {
  position: relative;
  width: 58%;
  background-color: rgba(247, 243, 243, 0.747);
  padding: 9% 8%;
  font-size: 14px;
}

@media (max-width: 776px) {
  .top-about .top-about-right {
    width: 100%;
  }
}

.top-about .top-about-right .top-about-manager {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 0 0 auto;
  margin: 32px 48px;
}

.top-about .top-about-right .top-about-manager p {
  position: relative;
  margin: 0 0 0 auto;
  display: inline-block;
  text-align: right;
}

.top-lunch {
  position: relative;
  margin-bottom: 160px;
}

@media (max-width: 776px) {
  .top-lunch {
    margin-bottom: 48px;
  }
}

.top-lunch .top-lunch-image {
  width: 880px;
  height: 480px;
  opacity: 0;
  -webkit-transform: translateX(-480px);
          transform: translateX(-480px);
}

.top-lunch .top-lunch-image.active {
  opacity: 1;
  -webkit-transform: translateX(0px);
          transform: translateX(0px);
  -webkit-transition: ease 1s;
  transition: ease 1s;
}

@media (max-width: 776px) {
  .top-lunch .top-lunch-image {
    width: 100%;
    height: auto;
  }
}

@media (max-width: 576px) {
  .top-lunch .top-lunch-image {
    padding: 8px;
  }
}

.top-lunch .top-lunch-image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
          box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.top-lunch .top-lunch-text {
  width: 680px;
  height: 480px;
  background-color: rgba(247, 243, 243, 0.747);
  position: absolute;
  right: 2%;
  top: 48px;
  padding: 7% 8% 7% 120px;
  opacity: 0;
  -webkit-transform: translateY(96px);
          transform: translateY(96px);
}

.top-lunch .top-lunch-text.active {
  opacity: 1;
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
  -webkit-transition: ease 1s;
  transition: ease 1s;
}

@media (max-width: 776px) {
  .top-lunch .top-lunch-text {
    position: static;
    width: 100%;
    height: auto;
    padding: 24px;
  }
}

.top-lunch .top-lunch-text h2 {
  font-size: 25px;
  margin-bottom: 32px;
}

.top-lunch .top-lunch-text p {
  font-size: 14px;
  margin-bottom: 32px;
}

.top-lunch .top-lunch-text .top-lunch-link {
  width: 200px;
  height: 64px;
  margin: 0 auto;
}

.top-lunch .top-lunch-text .top-lunch-link a {
  color: black;
  border: 1px solid black;
  font-size: 14px;
  display: block;
  width: 100%;
  height: 100%;
  text-align: center;
  line-height: 64px;
}

.top-lunch .top-lunch-text .top-lunch-link a:hover {
  color: white;
  border: none;
  background-color: rgba(134, 134, 134, 0.836);
}

.top-dinner {
  position: relative;
  margin-bottom: 148px;
}

@media (max-width: 776px) {
  .top-dinner {
    margin-bottom: 48px;
  }
}

.top-dinner .top-dinner-image {
  margin: 0 0 0 auto;
  width: 0;
  height: 480px;
}

.top-dinner .top-dinner-image.active {
  width: 880px;
  -webkit-transition: ease 1s;
  transition: ease 1s;
}

@media (max-width: 776px) {
  .top-dinner .top-dinner-image.active {
    width: 100%;
    height: auto;
  }
}

@media (max-width: 776px) {
  .top-dinner .top-dinner-image {
    width: 100%;
    height: auto;
  }
}

@media (max-width: 576px) {
  .top-dinner .top-dinner-image {
    padding: 8px;
  }
}

.top-dinner .top-dinner-image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
          box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.top-dinner .top-dinner-text {
  width: 680px;
  height: 480px;
  background-color: rgba(247, 243, 243, 0.747);
  position: absolute;
  left: 2%;
  top: 48px;
  padding: 7% 96px 7% 8%;
  opacity: 0;
  -webkit-transform: translateY(96px);
          transform: translateY(96px);
}

.top-dinner .top-dinner-text.active {
  opacity: 1;
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
  -webkit-transition: ease 1s;
  transition: ease 1s;
}

@media (max-width: 776px) {
  .top-dinner .top-dinner-text {
    position: static;
    width: 100%;
    height: auto;
    padding: 24px;
  }
}

.top-dinner .top-dinner-text h2 {
  font-size: 25px;
  margin-bottom: 32px;
}

.top-dinner .top-dinner-text p {
  font-size: 14px;
  margin-bottom: 32px;
}

.top-dinner .top-dinner-text .top-dinner-link {
  width: 200px;
  height: 64px;
  margin: 0 auto;
}

.top-dinner .top-dinner-text .top-dinner-link a {
  color: black;
  border: 1px solid black;
  font-size: 14px;
  display: block;
  width: 100%;
  height: 100%;
  text-align: center;
  line-height: 64px;
}

.top-dinner .top-dinner-text .top-dinner-link a:hover {
  color: white;
  border: none;
  background-color: rgba(134, 134, 134, 0.836);
}

.top-background-show {
  margin-bottom: 96px;
}

@media (max-width: 576px) {
  .top-background-show {
    margin-bottom: 80px;
  }
}

.top-background-show .top-background-show-contents {
  background-image: url(../image/night-view-569625_1920.jpg);
  background-color: rgba(231, 231, 231, 0.507);
  background-attachment: fixed;
  height: 320px;
  background-position: center;
  background-size: cover;
  position: relative;
}

.top-background-show .top-background-show-contents:after {
  content: '';
  background-color: rgba(31, 30, 30, 0.707);
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

@media (max-width: 776px) {
  .top-background-show .top-background-show-contents {
    height: 240px;
  }
}

@media (max-width: 576px) {
  .top-background-show .top-background-show-contents {
    display: none;
  }
}

.top-store {
  margin-bottom: 96px;
}

@media (max-width: 576px) {
  .top-store {
    margin-bottom: 80px;
  }
}

.top-store .top-store-inner {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

@media (max-width: 576px) {
  .top-store .top-store-inner {
    padding: 8px;
  }
}

.top-store .top-store-inner .top-store-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 48px;
}

.top-store .top-store-inner .top-store-title h2 {
  font-size: 24px;
  font-weight: normal;
  padding: 0 16px;
  border-left: 4px solid #727272;
}

.top-store .top-store-inner .top-store-title a {
  font-size: 14px;
  display: inline-block;
  border-bottom: 1px solid black;
}

.top-store .top-store-inner .article-slider article {
  margin: 0 16px;
}

.top-store .top-store-inner .article-slider article:hover {
  opacity: 0.8;
}

.top-store .top-store-inner .article-slider article .store-image-wrap {
  margin-bottom: 8px;
}

.top-store .top-store-inner .article-slider article .store-image-wrap img {
  width: 100%;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
          box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

@media (max-width: 776px) {
  .top-store .top-store-inner .article-slider article .store-image-wrap img {
    height: 240px;
  }
}

.top-store .top-store-inner .article-slider article h3 {
  font-size: 20px;
}

.top-store .top-store-inner .article-slider article .top-store-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 14px;
  margin-bottom: 10px;
  padding: 5px;
}

.top-store .top-store-inner .article-slider article .top-store-text .top-store-text-item1 {
  width: 30%;
}

.top-store .top-store-inner .article-slider article .top-store-text .top-store-text-item2 {
  width: 65%;
}

.top-notice {
  text-align: left;
  background-color: rgba(247, 243, 243, 0.747);
  padding: 40px 0 96px;
}

@media (max-width: 576px) {
  .top-notice {
    margin-bottom: 80px;
  }
}

.top-notice .top-notice-inner {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

@media (max-width: 576px) {
  .top-notice .top-notice-inner {
    padding: 8px;
  }
}

.top-notice .top-notice-inner .top-notice-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 48px;
}

.top-notice .top-notice-inner .top-notice-title h2 {
  font-size: 24px;
  font-weight: normal;
  padding: 0 16px;
  border-left: 4px solid #727272;
}

.top-notice .top-notice-inner .top-notice-title a {
  font-size: 14px;
  display: inline-block;
  border-bottom: 1px solid black;
}

.top-notice .top-notice-inner .article-slider article {
  margin: 0 16px;
}

.top-notice .top-notice-inner .article-slider article:hover {
  opacity: 0.8;
}

.top-notice .top-notice-inner .article-slider article .notice-image-wrap {
  margin-bottom: 8px;
}

.top-notice .top-notice-inner .article-slider article .notice-image-wrap img {
  width: 100%;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
          box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

@media (max-width: 776px) {
  .top-notice .top-notice-inner .article-slider article .notice-image-wrap img {
    height: 240px;
  }
}

.top-notice .top-notice-inner .article-slider time {
  font-size: 14px;
  margin-bottom: 8px;
  color: #a7a7a7;
}

.top-notice .top-notice-inner .article-slider h3 {
  margin-bottom: 8px;
  font-size: 20px;
}

.top-notice .top-notice-inner .article-slider .top-notice-text {
  font-size: 14px;
}

footer {
  margin: 20px 0;
}

footer .footer-inner {
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
  font-size: 14px;
}

@media (max-width: 776px) {
  footer .footer-inner {
    padding: 0 10px;
  }
}

footer .footer-inner .footer-navi-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 30px;
}

@media (max-width: 776px) {
  footer .footer-inner .footer-navi-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

footer .footer-inner .footer-navi-wrap .footer-navi-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

footer .footer-inner .footer-navi-wrap .footer-navi-left li {
  margin: 0 10px;
}

footer .footer-inner .footer-navi-wrap .footer-navi-left li a {
  display: inline-block;
}

footer .footer-inner .footer-navi-wrap .footer-navi-left li a:after {
  border-bottom: solid 0.5px #070707;
  bottom: 0;
  content: "";
  display: block;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  width: 0;
}

footer .footer-inner .footer-navi-wrap .footer-navi-left li a:hover::after {
  width: 100%;
}

footer .footer-inner .footer-navi-wrap .footer-navi-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer .footer-inner .footer-navi-wrap .footer-navi-right li {
  margin: 0 10px;
}

footer .footer-inner .footer-navi-wrap .footer-navi-right li a:after {
  border-bottom: solid 0.5px #070707;
  bottom: 0;
  content: "";
  display: block;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  width: 0;
}

footer .footer-inner .footer-navi-wrap .footer-navi-right li a:hover::after {
  width: 100%;
}

footer .footer-inner .footer-contents-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer .footer-inner .footer-contents-wrap .footer-contents-left {
  color: darkgrey;
}

footer .footer-inner .footer-contents-wrap .footer-sns i {
  font-size: 32px;
  color: #929191;
}
/*# sourceMappingURL=style.css.map */