@charset "UTF-8";
.sub-visual {
  position: relative;
}

.sub-visual .sub-visual-image {
  width: 100Vw;
  padding: 8px;
}

.sub-visual .sub-visual-image img {
  width: 100%;
  max-height: 280px;
  min-height: 160px;
  -o-object-fit: cover;
     object-fit: cover;
}

.sub-visual h2 {
  color: #292929;
  position: absolute;
  top: 40%;
  left: 10%;
  font-size: 32px;
  text-shadow: -1px 1px 0 white;
}

.sub-main .sub-main-inner {
  width: 100%;
  max-width: 1160px;
  margin: 96px auto;
  padding: 16px;
}

.page-about-text {
  margin-bottom: 48px;
}

.page-about-image-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 48px;
}

@media (max-width: 776px) {
  .page-about-image-wrap {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.page-about-image-wrap .page-about-image {
  width: 25%;
  padding: 0 16px;
}

@media (max-width: 776px) {
  .page-about-image-wrap .page-about-image {
    width: 50%;
  }
}

.page-about-image-wrap .page-about-image img {
  width: 100%;
  -webkit-box-shadow: rgba(99, 99, 99, 0.4) 0px 2px 8px 0px;
          box-shadow: rgba(99, 99, 99, 0.4) 0px 2px 8px 0px;
}

.about-link {
  width: 200px;
  height: 64px;
  margin: 0 auto;
}

.about-link a {
  color: black;
  border: 1px solid black;
  font-size: 14px;
  display: block;
  width: 100%;
  height: 100%;
  text-align: center;
  line-height: 64px;
}

.about-link a:hover {
  color: white;
  border: none;
  background-color: rgba(134, 134, 134, 0.836);
}

.page-menu-background {
  width: 100vw;
  background-color: rgba(247, 243, 243, 0.747);
  padding: 40px 0;
}

.page-menu {
  padding: 40px 0 56px;
}

.page-menu-inner {
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
}

.page-menu-inner h2 {
  font-size: 24px;
  font-weight: normal;
  margin: 48px 16px 72px;
  border-left: 4px solid #727272;
  padding: 0 16px;
  background-color: rgba(247, 243, 243, 0.747);
}

.page-menu-inner h3 {
  font-size: 18px;
  font-weight: normal;
  margin: 48px 48px 32px 48px;
  border-bottom: solid 3px #dddddd;
  position: relative;
}

.page-menu-inner h3:after {
  position: absolute;
  content: " ";
  display: block;
  border-bottom: solid 3px #8a8a8a;
  bottom: -3px;
  width: 100px;
}

.page-menu-inner .page-menu-items .page-menu-item {
  margin: 32px;
  position: relative;
}

@media (max-width: 776px) {
  .page-menu-inner .page-menu-items .page-menu-item {
    margin: 0 16px;
  }
}

.page-menu-inner .page-menu-items .page-menu-item:hover {
  opacity: 0.7;
}

.page-menu-inner .page-menu-items .page-menu-item .page-menu-image {
  width: 100%;
}

.page-menu-inner .page-menu-items .page-menu-item .page-menu-image img {
  width: 100%;
  -webkit-box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
          box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.page-menu-inner .page-menu-items .page-menu-item .page-menu-text {
  position: absolute;
  bottom: 20%;
  left: 50%;
  -webkit-transform: translate(-50%, 50%);
          transform: translate(-50%, 50%);
  background-color: rgba(248, 247, 247, 0.8);
  width: 100%;
  max-height: 70px;
  font-size: 14px;
  text-align: right;
  padding: 0 8px;
}

.page-menu-inner .page-menu-items .page-menu-item .page-menu-text h4 {
  font-size: 18px;
  text-align: center;
}

.page-menu-inner .page-menu-usual {
  background: rgba(0, 0, 0, 0.1);
}

.page-menu-inner .page-menu-lunch {
  margin-bottom: 80px;
}

.single-menu .single-menu-inner {
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
}

@media (max-width: 776px) {
  .single-menu .single-menu-inner {
    padding: 0 10px;
  }
}

.single-menu .single-menu-inner h3 {
  font-size: 24px;
  margin: 48px 0 48px 16px;
  border-bottom: solid 3px #dddddd;
  position: relative;
}

.single-menu .single-menu-inner h3:after {
  position: absolute;
  content: " ";
  display: block;
  border-bottom: solid 3px #8a8a8a;
  bottom: -3px;
  width: 100px;
}

@media (max-width: 576px) {
  .single-menu .single-menu-inner h3 {
    margin: 40px 0 16px 24px;
  }
}

.single-menu .single-menu-inner .single-menu-contents {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 776px) {
  .single-menu .single-menu-inner .single-menu-contents {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.single-menu .single-menu-inner .single-menu-contents .single-menu-image {
  width: 50%;
}

@media (max-width: 776px) {
  .single-menu .single-menu-inner .single-menu-contents .single-menu-image {
    width: 90%;
  }
}

.single-menu .single-menu-inner .single-menu-contents .single-menu-image img {
  width: 100%;
  -webkit-box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
          box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.single-menu .single-menu-inner .single-menu-contents .single-menu-text {
  width: 45%;
  padding: 40px;
}

@media (max-width: 776px) {
  .single-menu .single-menu-inner .single-menu-contents .single-menu-text {
    width: 100%;
  }
}

.single-menu .single-menu-inner .single-menu-contents .single-menu-text .single-menu-lead {
  margin-bottom: 40px;
  font-size: 20px;
  line-height: 1.5;
}

.single-menu .single-menu-inner .single-menu-contents .single-menu-text .single-menu-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.single-menu .single-menu-inner .single-menu-contents .single-menu-text .single-menu-item p {
  margin-bottom: 16px;
}

.single-menu .single-menu-inner .single-menu-contents .single-menu-text .single-menu-item p:first-of-type {
  color: #999;
  width: 40%;
}

.single-menu .single-menu-inner .single-menu-link {
  display: block;
  text-align: right;
  margin: 50px;
}

@media (max-width: 776px) {
  .single-menu .single-menu-inner .single-menu-link {
    margin: 0 30px 30px;
  }
}

.single-menu .single-menu-inner .single-menu-link:hover {
  opacity: 0.7;
}

.page-404-main {
  text-align: center;
  font-size: 20px;
}

.contact {
  height: 700px;
}

.home-main .home-main-inner {
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
}

@media (max-width: 776px) {
  .home-main .home-main-inner {
    padding: 0 10px;
  }
}

.home-main .home-main-inner .home-article-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.home-main .home-main-inner .home-article-wrap article {
  margin: 10px 10px 50px;
  width: 22%;
}

@media (max-width: 776px) {
  .home-main .home-main-inner .home-article-wrap article {
    width: 46%;
  }
}

@media (max-width: 576px) {
  .home-main .home-main-inner .home-article-wrap article {
    width: 98%;
  }
}

.home-main .home-main-inner .home-article-wrap article:hover {
  opacity: 0.8;
}

.home-main .home-main-inner .home-article-wrap article .notice-image-wrap {
  margin: 16px;
}

.home-main .home-main-inner .home-article-wrap article .notice-image-wrap img {
  width: 100%;
  height: auto;
}

.home-main .home-main-inner .home-article-wrap article time {
  font-size: 14px;
  margin-bottom: 10px;
}

.home-main .home-main-inner .home-article-wrap article h3 {
  margin-bottom: 10px;
}

.home-main .home-main-inner .pager .pagination {
  text-align: center;
  margin: 64px 0;
}

@media (max-width: 576px) {
  .home-main .home-main-inner .pager .pagination {
    margin: 24px;
  }
}

.home-main .home-main-inner .pager .pagination li {
  display: inline;
  margin: 0 2px;
  padding: 0;
  display: inline-block;
  width: 40px;
  height: 40px;
  text-align: center;
  position: relative;
  border-radius: 10px;
}

.home-main .home-main-inner .pager .pagination li a {
  vertical-align: middle;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  display: table;
  text-decoration: none;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.home-main .home-main-inner .pager .pagination li a span {
  display: table-cell;
  vertical-align: middle;
}

.home-main .home-main-inner .pager .pagination li a:hover,
.home-main .home-main-inner .pager .pagination li a.active {
  color: #fff;
  background: #a1a1a1;
}

@media only screen and (max-width: 767px) {
  .home-main .home-main-inner .pager .pagination li {
    display: none;
  }
  .home-main .home-main-inner .pager .pagination li.pre,
  .home-main .home-main-inner .pager .pagination li.next {
    display: inline-block;
    width: 40%;
    height: 50px;
    text-align: center;
  }
  .home-main .home-main-inner .pager .pagination li.pre a,
  .home-main .home-main-inner .pager .pagination li.next a {
    width: 100%;
    text-align: center;
  }
  .home-main .home-main-inner .pager .pagination li.pre span::after {
    content: "　前の10件へ";
  }
  .home-main .home-main-inner .pager .pagination li.next span::before {
    content: "次の10件へ　";
  }
}

.single h1, .single h2, .single h3 {
  font-size: 24px;
  margin: 24px 0 48px 16px;
  border-bottom: solid 3px #dddddd;
  position: relative;
}

.single h1:after, .single h2:after, .single h3:after {
  position: absolute;
  content: " ";
  display: block;
  border-bottom: solid 3px #8a8a8a;
  bottom: -3px;
  width: 100px;
}

.single p {
  margin-bottom: 16px;
}

.single th,
.single td {
  border: solid 1px;
  border: solid 1px;
  padding: 8px;
  margin-bottom: 16px;
}

.single table {
  border-collapse: collapse;
  /* セルの線を重ねる */
}

.single li {
  margin: 0 0 0 25px;
}

.single ol,
.single ul {
  margin-bottom: 16px;
}

.single time {
  font-size: 12px;
  color: #ccc;
}

.single .single-inner {
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
}

@media (max-width: 776px) {
  .single .single-inner {
    padding: 0 20px;
  }
}

.single .single-inner time {
  color: #999;
  margin: 50px 0 20px;
  display: inline-block;
}

.single .single-inner p {
  margin-bottom: 70px;
}

.single .single-inner .single-link {
  display: block;
  text-align: right;
  margin: 50px;
}

@media (max-width: 776px) {
  .single .single-inner .single-link {
    margin: 0 30px 30px;
  }
}

.single .single-inner .single-link:hover {
  opacity: 0.7;
}

.footer-sns a {
  display: inline-block;
  height: 28px;
  width: 28px;
}

.footer-sns a:nth-of-type(2) {
  display: inline-block;
  margin: 0 15px;
}

.footer-sns a img {
  width: 100%;
  height: 100%;
}

.footer-sns a i {
  font-size: 30px;
}
/*# sourceMappingURL=style2.css.map */